# Ignore the contents of the _site directory
_site/
.bundle/
.github/

# Ignore the Gemfile that is generated
Gemfile.lock
**.old.**
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**.log